{% extends 'main/base.html' %}

{% block title %}
Search
{% endblock %}

{% block search %}
<form action="{% url 'main:search' %}" method="get" class="search">
  <input type="search" name="search">
</form>
{% endblock %}

{% block content %}
<section class="posts-sec">
  <div class="container">
    <div class="sub-head">
      <h1>Results</h1>
    </div>
    {% if posts %}
    {% include 'main/boxes.html' %}
    {% else %}
    <div class="no-result">
      There is no result for '{{request.GET.search}}'
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}